body {
    background: url("../img/cat.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: Impact;
    color: white;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    font-size: min(10vw, 100px);
    text-transform: uppercase;
}

#top-text {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

#bottom-text {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}