@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fredoka+One&family=Poppins:wght@400;700&display=swap');

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
    font-family: "Poppins", sans-serif;
}

nav {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    top:0px;
    height: 100px;
    width: 100%;
    left: 0px;
}

.commands-page {
    background-image: url("../images/background-default.png");
}

.store-page {
    background-image: url("../images/background-store.png");
}

label.logo {
    color: white;
    font-size: 40px;
    line-height: 100px;
    padding-left: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

nav ul {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
}

nav ul li a {
    padding: 7px 13px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

#home:hover, #home.active{
    background: slategray;
    transition: .5s;
}

#commands:hover, #commands.active{
    background: #ecc900;
    transition: .5s;
}

#map:hover{
    background: #cf0057;
    transition: .5s;
}

#discord:hover {
    background: #5865f2;
    transition: .5s;
}

#store:hover, #store.active{
    background: #3fd50f;
    transition: .5s;
}

#login:hover, #login.active{
    background: slategray;
    transition: .5s;
}

.commands {
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    transition: .5s;

    /*border: 2px solid black;
    border-radius: 5px;*/
}

.command {
    color: white;
    margin-right: 8px;

    /*border: 2px solid black;
    border-radius: 5px;*/
}

.store {
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    background: #1e2124d5;
    border-radius: 10px;
    box-shadow: 0 0 30px #1e2124;
    padding: 30px;

    /*border: 2px solid white;
    border-radius: 5px;*/
}

aside {
    min-height: 50vh;
    justify-content: space-between;

    /*border: 2px solid red;
    border-radius: 5px;*/
}

aside ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    /*border: 2px solid red;
    border-radius: 5px;*/
}

aside ul li {
    height: 70px;
    width: 100%;
    text-align: center;
    line-height: 70px;
    background-color: #282b30ec;
    margin-bottom: 15px;
    border-radius: 100px;

    /*border: 2px solid red;
    border-radius: 5px;*/
}

aside ul li a, .menu-mobile ul li a:not(.menu-active){
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: gray;
    transition: .5s;

    /*border: 2px solid red;
    border-radius: 5px;*/   
}

aside ul li i, .menu-mobile ul li a i {
    margin-right: 5px;
}

aside ul li a:hover:not(.menu-active), .menu-mobile ul li a:hover:not(.menu-active) {
    color: white;
}

.menu-mobile {
    width: 100%;
    height: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
    /*border: 2px solid yellow;
    border-radius: 5px;*/
}

.menu-mobile ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline;
    text-align: center;
}

.menu-mobile ul li {
    display: inline;
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background-color: #282b30ec;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-active {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: .5s;
    color: #5797ff;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    /*border: 2px solid purple;
    border-radius: 5px;*/
}

.product {
    height: 300px;
    width: 300px;
    margin-bottom: 15px;
    margin-right: 7px;
    margin-left: 7px;
    text-align: center;
    background: #282b30ec;
    border-radius: 10px;

    /*border: 2px solid orange;
    border-radius: 5px;*/
}

.product img {
    margin-top: 20px;
    width: 270px;
    height: auto;
}

.buy {
    align-self: center;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    background: #5797ff;
    border: 0px;
    color: white;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    font-size: small;
    cursor: pointer;
    transition: .2s;
    margin-right: 6px;
}

.info {
    align-self: center;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background: #5797ff;
    border: 0px;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.product button:hover {
    background: #1e3558;
}

.splash {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    background-color: transparent;
}

.modal {
    position: fixed;
    width: 70%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20vh;
    transform: translate(-50%, -50%);
    margin-bottom: 10%;
    display: hide;
    background-color: #1e2124;
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;

    border: 3px solid #5797ff;
}

.modal-description {
    margin-top: 60px;
    margin-left: 10%;
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    z-index: 4;
}

.fa-times {
    color: white;
    height: 26px;
    width: auto;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;    
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: gray;
    font-weight: 700;
    font-size: 20px;
}

.lock-scroll {
    overflow: hidden;
}

@media (max-width:1687px) {
    #footer {
        display: none;
    }
}

@media (max-width:959px){

    .menu-mobile {
        display: flex;
    }

    .products {
        grid-column: span 2;
        justify-content: center;
    }

    aside {
        display: none;
    }

    label.logo {
        font-size: 30px;
        padding-left: 25px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .commands {
        margin-top: 19%;
        margin-left: 10%;
        margin-right: 10%;
        overflow: hidden;
    }
}

@media (max-width:810px){
    
    nav ul {
        display: none;
    }

    .commands {
        font-size: 75%;
    }

    .store {
        grid-template-columns: 1fr;
    }

    .product {
        height: 200px;
        width: 200px;
        margin-bottom: 5px;
        margin-right: 2px;
        margin-left: 2px;
    }
    
    .product img {
        margin-top: 20px;
        width: 170px;
        height: auto;
        margin-bottom: -10px;
    }
}